<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4> Welcome to the page of {{ data.away_team }} vs {{ data.home_team }}!</h4>
        </div>
        <div class="panel-body">
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3>{{ data.away_team }} {{ data.away_score }} final {{ data.home_score }} {{ data.home_team }}</h3>
                </div>
                <div class="col-md-4"></div>

            </div>
            <div class="row" style="padding-top: 25px;">
                <div class="col-md-3">
                    <button type="button" ui-sref= "tdetail.tseason" class="btn btn-lg btn-info btn-block">Team Season</button>
                </div>
                <div class="col-md-3">
                    <button type="button" ui-sref= "tdetail.tgame" class="btn btn-lg btn-info btn-block">Recent Games</button>
                </div>
                <div class="col-md-3">
                    <button type="button" ui-sref= "tdetail.tplayer" class="btn btn-lg btn-info btn-block">Players</button>
                </div>
                <div class="col-md-3">
                    <button type="button" ui-sref= "tdetail.tbackground" class="btn btn-lg btn-info btn-block">Team Background</button>
                </div>
            </div>
        </div>
    </div>
    
    <div ui-view></div>
</div>
    
    