<main class="container">
    <div class="row well">
        <div class="col-md-6">
            
            <h1>Welcome to the NBA Information System</h1>
            
            <p>This sample application lets you view, create and edit books in a libary catalog as well as view, create and edit authors.</p>
            
            <p>To view the library catalog or the authors list you will need to login as a borrower and to make changes to the list of books or authors you will need to login as a librarian.</p>
            
        </div>
        
    </div>
</main>
