<main class="container">
    <div class="row well">
        <div class="col-md-8">
            <h1>Welcome to the NBA Information System</h1>
            <p style="padding-top: 10px;">As a NBA DBA, this application allows you to do the following operations:</p>
            <p>1. search/view, create, update and delete a player and veiw other details associated with the player;</p>
            <p>2. View and update a team and view other details associated with the team;</p>
            <p>3. Search games by a specifc date and view other details associated with the game;</p>      
        </div>
        <div class="col-md-4">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img src="resources/nba-logo.png" style="height: 230px;">               
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</main>
