<div class="container">
        
    <h3>Please enter the name of the player:</h3>
    <form class="example" name="playerForm" ng-submit="searchPlayer()" style="max-width:300px; margin-top: 25px">
        <input type="text" placeholder="Search.." ng-model="name">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <h3 style="padding-top: 30px">Or if you want to create a new player:</h3>
    <button style="margin-top: 20px" type="button" ui-sref= "pcreate" class="btn btn-lg btn-success">Create New Player</button>


</div>

