<div class="container">
<div class="panel panel-primary">
        <div class="panel-heading">
            <h4> Create a new player </h4>
        </div>
        <div class="panel-body">
            <form name="playerForm" ng-submit="createNewPlayer()">
                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="team" class="col-md-4 control-label">Team:</label>
                            <div class="col-md-8">
                                <ui-select ng-model="tmp.selectedTeam" theme="select2" style="min-width: 300px;" title="Choose a team" required>
                                    <ui-select-match placeholder="Select a team in the list or search the team name...">{{$select.selected.nickname}}</ui-select-match>
                                    <ui-select-choices repeat="team in teams | propsFilter: {nickname: $select.search}">
                                        <div ng-bind-html="team.nickname | highlight: $select.search"></div>
                                        <small>
                                        abbr: {{team.abbreviation}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="person_id" class="col-md-4 control-label">Player ID:</label>
                            <div class="col-md-8">
                                <input type="text" name="person_id" class="form-control" placeholder="person_id" ng-model="data.person_id" required>
                                <p ng-show="playerForm.person_id.$invalid && !playerForm.person_id.$pristine" class="help-block" style="color:red">Player ID is required.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 25px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="first_name" class="col-md-4 control-label">First Name:</label>
                            <div class="col-md-8">
                                <input type="text" name="first_name" class="form-control" placeholder="first_name" ng-model="data.first_name" required>
                                <p ng-show="playerForm.first_name.$invalid && !playerForm.first_name.$pristine" class="help-block" style="color:red">First name is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="last_name" class="col-md-4 control-label">Last Name:</label>
                            <div class="col-md-8">
                                <input type="text" name="last_name" class="form-control" placeholder="last_name" ng-model="data.last_name" required>
                                <p ng-show="playerForm.last_name.$invalid && !playerForm.last_name.$pristine" class="help-block" style="color:red">Last name is required.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 25px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="birthdate" class="col-md-4 control-label">Birthday:</label>
                            <div class="col-md-8">
                                <input type="date" class="form-control" placeholder="birthdate" ng-model="tmp.birthdate" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="school" class="col-md-4 control-label">School:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="school" ng-model="data.school">
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row" style="padding-top: 25px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="country" class="col-md-4 control-label">Country:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="country" ng-model="data.country">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="height" class="col-md-4 control-label">Height (ft-in):</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="height" ng-model="data.height">
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row" style="padding-top: 25px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="weight" class="col-md-4 control-label">Weight (lb):</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="weight" ng-model="data.weight">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="position" class="col-md-4 control-label">Position:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="position" ng-model="data.position">
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row" style="padding-top: 25px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rosterstatus" class="col-md-4 control-label">Roster Status:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="rosterstatus" ng-model="data.rosterstatus">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="from_year" class="col-md-4 control-label">From Year:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="from_year" ng-model="data.from_year">
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row" style="padding-top: 25px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="to_year" class="col-md-4 control-label">To Year:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="to_year" ng-model="data.to_year">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="draft_year" class="col-md-4 control-label">Draft Year:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="draft_year" ng-model="data.draft_year">
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row" style="padding-top: 25px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="draft_round" class="col-md-4 control-label">Draft Round:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="draft_round" ng-model="data.draft_round">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="draft_number" class="col-md-4 control-label">Draft Number:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="draft_number" ng-model="data.draft_number">
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row" style="padding-top: 25px; padding-left: 15px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info" ng-disabled="playerForm.$invalid">Sumbit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>